* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: white;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Create a blur background */
#background {
  background: no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: block;
  position: fixed;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  filter: blur(10px);
  -webkit-filter: blur(7px);
  -moz-filter: blur(7px);
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
  margin: -5px;
  z-index: 0;
}

/* Add a dark overlay to the root*/
#background::after {
  content: '';
  background: rgba(0,0,0,.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App__window {
  background: #972825 url('./images/background.jpg') no-repeat center center / cover;
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  justify-content: center;
  width: 750px;
  padding-left: 20px;
  z-index: 3;
}

.App__details {
  display: flex;
}